<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808053611397-k5uffj3at22rtqd6sj8av842fcd4hvm7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808053611397-k5uffj3at22rtqd6sj8av842fcd4hvm7</string>
	<key>API_KEY</key>
	<string>AIzaSyDzi9xFG233Av1qKnt-sG18xr2D56Qw0oY</string>
	<key>GCM_SENDER_ID</key>
	<string>808053611397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabezawa.RxBookManager-iOS</string>
	<key>PROJECT_ID</key>
	<string>rx-bookmanager-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>rx-bookmanager-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808053611397:ios:a3b233fec7753f23</string>
	<key>DATABASE_URL</key>
	<string>https://rx-bookmanager-ios.firebaseio.com</string>
</dict>
</plist>